<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title> {{ title }} </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<meta name="viewport" content="width=device width,maximum scale=1.0, initial scale=0.5">
</head>
<body>

<div class="container">
<div class="center">
<h4>Hello baby !</h4>

{{{ body }}}

<h4> Above text is rendered via HBS</h4>
</div>
</div>
</body>
</html>
